# * Spotify configs
SPOTIFY_API_URL=https://api.spotify.com/v1
SPOTIFY_ACCOUNTS_URL=https://accounts.spotify.com
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=

# * App configs
DB_LOCATION=/app/server/data/database.db
# Used for redirects
FRONTEND_URL=
# Used for hosting/docker
EXPRESS_IP=0.0.0.0
EXPRESS_PORT=8000
EXPRESS_SESSION_SECRET=