# Spotify configs
SPOTIFY_API_URL=https://api.spotify.com/v1
SPOTIFY_ACCOUNTS_URL=https://accounts.spotify.com
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=

# App configs
FRONTEND_IP=127.0.0.1
FRONTEND_PORT=5173
EXPRESS_IP=127.0.0.1
EXPRESS_PORT=3000
EXPRESS_SESSION_SECRET=